html
  head
    title= title
    include includes/header
  body.display
    .title
      .title-animate
        h1
        h2
    .team-scores
      each _, i in Array(teams)
        .scores(class=`team-${i+1}`)
          .name Team #{i+1}
          .score 0
    script(src='/socket.io/socket.io.js')
    script(src='/assets/display.js')
