html
  head
    title= title
    include includes/header
  body.teams
    .wrapper
      ul
        each _, i in Array(teams)
          li
            button(data-action='buzz' data-id=`team-${i+1}`) TEAM #{i+1}
      .input
        label Name:
        input(type='text')
    script(src='/socket.io/socket.io.js')
    script(src='/assets/script.js')
