* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-image: linear-gradient(19deg, #da3a8a 0%, #101150 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Sigmar', sans-serif;
  color: white;
}



/* general */

.wrapper {
  padding: 20px;
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.5em 0;
}

ul button {
  font-family: 'Sigmar', sans-serif;
  color: white;
  font-weight: bold;
  border:  none;
  border-radius: 20px;
  transition: all 0.2s;
  width:  100%;
  font-size: 50px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  -webkit-tap-highlight-color: transparent;
}

ul button:disabled {
  opacity: 0.6;
  transform: scale(.95);
}

ul button:active {
  transform: scale(.9);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

label {
  margin-bottom: 10px;
  display: block;
}

.input {
  padding: 20px 0;
}

input {
  padding: 20px 10px;
  font-size: 50px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  color: white;
  width: 100%;
}



/* display page */

.display .title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display .title-animate {
  text-align: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s;
}

.display h1 {
  font-size: 200px;
  margin: 0;
}

.display h2 {
  font-size: 100px;
  margin: 0;
}

.display .scores {
  position: fixed;
  bottom: 0;
  background: black;
  color: white;
  transform: translateX(-50%);
  padding: 15px 40px;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

.display .name {
  font-size: 40px;
}

.display .score {
  font-size: 100px;
}

.display .scores.team-1 {
  left: 20%;
}
.display .scores.team-2 {
  left: 80%;
}



/* teams page */

.teams .wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto min-content;
}

.teams ul li {
  height: 50%;
}

.teams ul button {
  height: 100%;
}



/* admin page */

.admin code {
  height: 60px;
  background: black;
  color: white;
  border-radius: 20px;
  display: block;
  margin: 10px 0;
  padding: 10px;
  overflow-x: scroll;
  font-size: 13px;
}

.admin code.score {
  height: 35px;
}

.admin ul button {
  padding: 25px 0;
}

.admin .flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

audio {
  width: 100%;
  margin-bottom: 10px;
}



/* colors */

.teams.green,
.display.green,
.admin.green {
  background-image: linear-gradient(19deg, #31CE6A 0%, #247600 100%);
}

.teams.blue,
.display.blue,
.admin.blue {
  background-image: linear-gradient(19deg, #00B8AE 0%, #3103A1 100%);
}

[data-id="team-1"] {
  color: #00ff00;
}

[data-id="team-2"] {
  color: #00b3ff;
}

.display.green .title-animate,
.display.blue .title-animate {
  opacity: 1;
  transform: scale(1);
}
